.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}

.search_input {
    width: 600px;
    height: 100px;
    font-size: 70px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
    border: none;
}

.search_input:focus {
    outline: none;
}

.search_input::placeholder {
    color: lightgray;
}

.brand_container li {
    margin-bottom: 20px;
    font-size: 20px;
}

.brand_name:hover {
    color: #bd7d49;
    cursor: pointer;
    transition: all 0.2s ease;
}

.brand_name:not(:hover) {
    transition: all 0.6s ease;
}